@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito+Sans:wght@200&family=Roboto+Condensed:ital@1&family=Roboto:wght@100&display=swap");
* {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: #7aa5d2; }

body {
  overflow: hidden;
  background-attachment: fixed;
  place-items: center; }

html {
  font-size: 100%; }

h1, h5 {
  font-family: "Nunito Sans", sans-serif;
  color: #47555e;
  color: #f5f0f0;
  font-size: 1em; }

h2 {
  color: #f5f0f0;
  font-size: 1em; }

h3 {
  color: #f5f0f0;
  font-size: 2.5rem; }

.one .navbar-brand {
  color: #303841;
  font-size: 3em; }
  .one .navbar-brand:hover {
    color: #f5f0f0; }

.one .navbar-toggler {
  background-color: #f5f0f0;
  width: 100px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center; }
  .one .navbar-toggler:hover {
    color: #f5f0f0;
    background-color: #47555e; }

.one .navbar-toggler-icon {
  background-color: #f5f0f0;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center; }
  .one .navbar-toggler-icon:hover {
    color: #f5f0f0;
    background-color: #47555e; }

.one h5 {
  font-weight: 600; }

.one a {
  color: #303841;
  font-size: 1em;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif; }
  .one a:hover {
    color: #f5f0f0;
    background-color: transparent; }

.two {
  display: flex;
  grid-area: two;
  background-color: #7aa5d2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.three {
  background-color: #7aa5d2;
  grid-area: three;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .three .container h5 {
    color: #f5f0f0;
    font-size: 2em;
    font-weight: 600;
    margin: 20px; }
  .three .container form div {
    position: relative;
    margin: 20px;
    width: 300px; }
    .three .container form div input {
      background-color: transparent;
      border: 0;
      display: block;
      width: 100%;
      font-size: 1em;
      color: #303841; }
      .three .container form div input:focus {
        outline: 0;
        border-bottom-color: #636363; }
      .three .container form div input:valid {
        outline: 0;
        border-bottom-color: #636363; }
  .three .container form button {
    margin: 20px 20px;
    cursor: pointer;
    color: #f5f0f0;
    display: inline-block;
    background: #7aa5d2;
    font-family: inherit;
    font-size: 1em;
    border: 0; }
    .three .container form button:hover {
      color: #303841;
      font-size: 1em;
      background: #f5f0f0; }

.four {
  background-color: #7aa5d2;
  grid-area: four;
  color: #f5f0f0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .four p {
    margin: 20px;
    animation-duration: 3s;
    animation-name: slidein; }

@keyframes slidein {
  from {
    margin-bottom: 100%;
    width: 300%; }
  to {
    margin-top: 40%;
    width: 90%; }
  75% {
    font-size: 500%;
    margin-top: 50%;
    width: 190%; } }
  .four .map {
    animation-duration: 3s;
    animation-name: slidein; }

@keyframes slidein {
  from {
    margin-bottom: 80%;
    width: 300%; }
  to {
    margin-top: 10%;
    width: 90%; }
  75% {
    font-size: 400%;
    margin-top: 30%;
    width: 150%; } }
  .four a {
    margin-top: 5px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #47555e; }
    .four a:hover {
      color: #47555e;
      font-size: 1.5rem;
      border-radius: 5px;
      background: #f5f0f0; }
  .four .container-left {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .four .container-left .map {
      display: flex;
      align-items: flex-start; }

.five {
  grid-area: five;
  background-color: #7aa5d2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .five li {
    display: inline-block;
    position: relative;
    font-size: 2em; }
    .five li i {
      color: #dddddd;
      position: relative; }
      .five li i:hover {
        color: #303841; }
        .five li i:hover a::before {
          content: " ";
          width: 60px;
          height: 60px;
          border-radius: 100%;
          display: block; }

/* starts grid */
#container-grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "one" "two" "three" "four" "five"; }

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

header .one {
  display: block;
  width: 280px; }

.button ul {
  /* margin: 1rem; */
  display: flex;
  list-style: none;
  justify-content: space-between; }

.button a {
  text-decoration: none;
  color: grey;
  display: flex;
  justify-content: center; }

.button ul li {
  margin-right: 10px; }

.button ul li a {
  color: grey;
  text-decoration: none;
  display: none; }

@media (min-width: 1006px) {
  #container-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "one one" "two three" "four five"; }
  .button ul li a {
    display: block; } }

@media (min-width: 1024px) {
  #container-grid {
    grid-template-columns: 50vw 25vw 25vw;
    grid-template-rows: 10vh 40vh 40vh 10vh;
    grid-template-areas: "one one one" "two three three" "two four four" "five five five"; } }

@media (min-width: 900px) {
  #container-grid {
    grid-template-columns: 50vw 25vw 25vw;
    grid-template-rows: 10vh 40vh 40vh 10vh;
    grid-template-areas: "one one one" "two three three" "two four four" "five five five"; } }

@media (min-width: 767px) {
  #container-grid {
    grid-template-columns: 50vw 25vw 25vw;
    grid-template-rows: 10vh 40vh 40vh 10vh;
    grid-template-areas: "one one one" "two three three" "three four four" "five five five"; } }

@media (min-width: 899px) {
  #container-grid {
    grid-template-columns: 50vw 25vw 25vw;
    grid-template-rows: 10vh 40vh 40vh 10vh;
    grid-template-areas: "one one one" "two two two" "three four four" "five five five"; } }
