@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito+Sans:wght@200&family=Roboto+Condensed:ital@1&family=Roboto:wght@100&display=swap');

// Fonts
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Nunito Sans', sans-serif;

// Text Size
$textSm: .8em;
$textMd: 1em;
$textNav: 1.5rem;
$textLg: 2em;
$textX1: 3em;

//Font - Weights
$bold: 600;
$regular: 400;
$light: 300;