<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art.elares</title>
    <link rel="shortcut icon" href="../img/telaricon.jpg">
</head>
<body>
    <nav>
        <a href="../index.html">
            <h2>ART.elares</h2>
        </a>
        <ul>
            <li>
                <a href="../views/primavera.html">Primavera</a>
            </li>
            <li>
                <a href="../views/verano.html">Verano</a>
            </li>
            <li>
                <a href="../views/otonio.html">Otoño</a>
            </li>
            <li>
                <a href="../views/invierno.html">Invierno</a>
            </li>
            <br>
            <li>
                <a href="../views/contacto.html">Contacto</a>
            </li>
        </ul>
        <!-- ends listas -->
    </nav>
    <!-- ends nav -->
    <header></header>
    <!-- ends header -->
    <main>
        <section></section>
        <!-- welcome page -->
        <section>
            <form action="envio.py">
                <fieldset>
                        <legend>Info personal</legend>
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre"  placeholder="Leo Magazine" required>
                        <br>
                        <br>
                        <label for="correo">Correo:</label>
                        <input type="text" id="correo"  placeholder="correo@email.com" required>
                        <br>
                        <br>
                        <label for="chat">Whatsapp:</label>
                        <input type="text" id="chat"  placeholder="Whatsapp numero" required>
                        <br>
                    <fieldset>
                        <br>
                        <legend>Medio para contactarte</legend>
                        <label for="chat">Whatsapp</label>
                        <input type="radio" id="chat" value="chat" name="contacto">
                        <br>
                        <label for="correo">Correo electrónico</label>
                        <input type="radio" id="correo" value="correo" name="contacto">
                        <br>
                    </fieldset>
                </fieldset>
        </section>
        <!-- ends section imagenes -->
        <section>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3736.497727807916!2d-103.48374228458152!3d20.526806410098743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842f54ee1ee341db%3A0x78fe033437d8640!2sAdamar!5e0!3m2!1ses-419!2smx!4v1654218200440!5m2!1ses-419!2smx" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <!-- ends maps -->
    </main>
    <footer>
        <a href="https://www.facebook.com/">
            <img src="../img/facebook.jpg" alt="Facebooklogo" target="_blank">
        </a>
        <a href="https://www.instagram.com/">
            <img src="../img/instagram.jpg" alt="logo instagram" target="_blank">
        </a>
        <a href="https://www.twitter.com/">
            <img src="../img/twitter.jpg" alt="logo twitter" target="_blank">
        </a>
    </footer>
    <!--ends pie-->
</body>
</html>